In [1]:
import numpy as np
import pandas as pd

In [3]:
from sklearn.metrics import mean_absolute_percentage_error,mean_absolute_error,r2_score,mean_squared_error

In [4]:
!curl -O  https://lazyprogrammer.me/course_files/SPY.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:02 --:--:--     0
100  246k  100  246k    0     0  85485      0  0:00:02  0:00:02 --:--:-- 85546

In [5]:
df = pd.read_csv('SPY.csv',index_col='Date',parse_dates=True)
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800

In [7]:
df['ClosePrediction']=df['Close'].shift(1)
df.head()

,Open,High,Low,Close,Adj Close,Volume,ClosePrediction
Date,,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600,NaN
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900,113.330002
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400,113.629997
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100,113.709999
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800,114.190002

In [8]:
y_true = df.iloc[1:]['Close']
y_pred=df.iloc[1:]['ClosePrediction']

### Metrics

In [9]:
# SSE
(y_true-y_pred).dot(y_true-y_pred)

6330.374289492605

In [10]:
# MSE
mean_squared_error(y_true,y_pred)

2.798573956451196

In [12]:
# MSE again using formula
(y_true-y_pred).dot(y_true-y_pred)/len(y_true)

2.798573956451196

In [13]:
#RMSE
mean_squared_error(y_true,y_pred,squared=False)

1.672893886787562

In [14]:
#RMSE Again
np.sqrt((y_true-y_pred).dot(y_true-y_pred)/len(y_true))

1.672893886787562

In [15]:
# MAE
mean_absolute_error(y_true,y_pred)

1.1457559803120336

In [16]:
# R^2
# Wow, What a great prediction
#Why is so good, be suspicious
r2_score(y_true,y_pred)

0.9989603259063914

In [17]:
# MAPE
mean_absolute_percentage_error(y_true,y_pred)

0.006494073151422373

In [18]:
#sMAPE
def smape(y_true,y_pred):
    numerator=np.abs(y_true-y_pred)
    denominator=(np.abs(y_true)+np.abs(y_pred))/2
    ratio = numerator/denominator
    return ratio.mean()
smape(y_true,y_pred)

0.006491365814068417